@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
#homebar--img{
    width: 200px;
    margin-left: 15px;
    border-radius: 10px;
}
h2{
    color: rgb(120, 120, 120);
    text-align: center;
    font-size: 1.2rem;
}
.h{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
h3{
    text-align: center;
}
.homebar--items--list{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: black;
}
li{
    margin-left: 25px;
    cursor: pointer;
}
a:hover{
    color: rgb(173, 172, 172);
}
.homebar--screen{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 20px;
}
.bodycontent--screen{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
}
.figs{
    display: flex;
}
.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2{
    margin-top: 90px;
}
.nav-link{
    animation: ease-in 100ms;
}
.fleximage{
    width: 100%;
    max-width: 900px;
    object-fit: cover;
    object-position: center;
}
.all{
    display: flex;
    flex-wrap: w;
}
.contrato{
    display: flex;
    align-items: center;
    justify-content: center;
}